#body {
    background-color: lightgray;
}

#content {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    font-size: 20px;
}

form {
    border: 1px solid black;
    width: 50%;
    background-color: rgba(158, 222, 250, 0.394);
}

#content-item {
    padding-top: 15px;
}

#button {
    background-color: rgb(49, 236, 49);
    color: balck;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 180px;
}

#button:hover {
    background-color: darkgreen;
    color: white;
}